@model dynamic

@{
    ViewBag.Title = "title";
}

<h2>title</h2>

<form action="./LogIn">
    Email:<br>
    <input name="email" type="text">
    Password:<br>
    <input name="password" type="password">
    <input type="submit" value="Log in">
</form>
