body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* ----------- Custom styles ------------ */

#save-desc-form {
    display: none;
}

.pic-list {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
}

#images-list {
    margin-bottom: 30px;
    overflow-x: auto;
    white-space:nowrap;
}

#image-with-desc {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin-right: 30px;
    margin-bottom: 10px;
}

#image-info {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-right: 15px;
    margin-bottom: 5px;
}

.selected {
    border: 2px solid black;
    padding: 2px;
}

#desc span {
    color: gray;
}

html, body {
    height: 100%;
}

#container {
    position: relative;
    min-height: 100%;
}

#inner-container {
    padding-bottom: 65px;
}

#upload-form-container {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    height: 30px;
    position: absolute;
    bottom: 15px;
}

#upload-form {
    margin-top: 5px;
}

#upload-form input{
    float: left;
}

#map-container ul {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    padding: 0;
    margin-top: 0;
}

#zoom-in {
    margin-bottom: 5px;
}

#map {
    width: 300px;
    height: 300px;
}